input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-transition: background-color 3000s ease-in-out 0s;
  transition: background-color 3000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-transition: background-color 3000s ease-in-out 0s;
  -webkit-transition: background-color 353000s ease-in-out 0s;
  transition: background-color 353000s ease-in-out 0s;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html.hold {
  overflow: hidden;
}

*,
*::before,
*::after {
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.appearance {
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.desk {
  display: block;
}

ul[class],
ol[class] {
  padding: 0;
}

.fdc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
span,
a,
dd {
  font-family: "Unbounded";
  padding: 0;
  font-weight: inherit;
  list-style: none;
  font-size: inherit;
  line-height: auto;
  color: #fff;
  margin: 0;
}

button {
  cursor: pointer;
  background: unset;
  border: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FBFBFB;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  color: #FBFBFB;
  flex: 1 1 auto;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}

ul[class],
ol[class] {
  list-style: none;
}

section {
  margin-top: 120px;
  position: relative;
}

section:first-child {
  margin-top: 100px;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.mob {
  display: none !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrapper {
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding: 0 25px;
}

.btn {
  height: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-box-shadow: inset 0 0 6px 0 rgba(255, 255, 255, 0.25);
          box-shadow: inset 0 0 6px 0 rgba(255, 255, 255, 0.25);
}

header {
  height: 100px;
  position: relative;
}
header .slash {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header_inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header_inner p {
  font-weight: 300;
  font-size: 18px;
  text-align: right;
  color: #000;
}

.container {
  max-width: 100%;
  padding: 0 5%;
}

.main .container {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .container .slash {
  height: 850px;
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
  width: 20px;
  display: block;
}

.main {
  height: 650px;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

.slider {
  max-width: 50%;
  width: 100% !important;
}
.slider .slide {
  height: 400px;
  opacity: 0.5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  max-width: 100%;
}
.slider .slide .slide_info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider .slide img {
  height: 450px;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.slider .slide .name {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.slider .slide .desk {
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  color: #000;
}
.slider .slide.slick-current {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.footer_inner {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_inner p {
  font-weight: 300;
  font-size: 20px;
  color: #000;
}
.footer_inner a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  font-size: 20px;
  color: #000;
}

footer {
  background: #FBFBFB;
  position: relative;
}
footer .slash {
  position: absolute;
  top: 0;
  left: 0;
}

.video-js .vjs-big-play-button {
  width: 200px !important;
  height: 200px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100% !important;
  border: 1px solid #fff !important;
}

.video-js .vjs-big-play-button {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: unset !important;
  -webkit-backdrop-filter: blur(20px) !important;
          backdrop-filter: blur(20px) !important;
}

.video-js .vjs-tech .video-js {
  position: relative;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  font-size: 70px !important;
  left: 50% !important;
  top: 50% !important;
  width: auto !important;
  height: auto !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.vjs-modal-dialog .vjs-modal-dialog-content, .video-js .vjs-modal-dialog, .vjs-button > .vjs-icon-placeholder:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  color: #fff;
}

.video-js {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.video-js * {
  color: #fff !important;
}

.video-js .vjs-tech {
  -o-object-fit: cover;
     object-fit: cover;
}

.card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_info h4 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #000;
  margin: 30px 0 20px;
  color: #000;
}

.card_info span {
  font-weight: 300;
  font-size: 16px;
  margin-left: 30px;
  text-align: right;
  color: #000;
}

.card_info a {
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: right;
  color: #000;
}

.card_color_splash {
  padding-top: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.card_color_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_color_img img {
  width: 100%;
  height: 225px;
}

.card_color_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.card_color_card span {
  display: block;
  height: 110px;
  width: 100%;
}

.card .info {
  margin-top: 40px;
}
.card .info h3 {
  font-weight: 500;
  font-size: 32px;
  color: #000;
}
.card .info p {
  margin-top: 33px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

@media (max-width: 769px) {
  .container {
    padding: 0 10px;
  }
  .desk {
    display: none !important;
  }
  .mob {
    display: block !important;
  }
  .wrapper {
    margin-top: 20px;
  }
  .header_inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_inner p {
    display: none;
  }
  .main {
    height: auto;
    -webkit-transform: none;
            transform: none;
  }
  .main .container {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .main .container .slash {
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: 1px;
  }
  .slider {
    max-width: 100%;
  }
  .slider .slide {
    height: auto;
  }
  .slider .slide .slide_info {
    padding: 0 10px;
  }
  .slider .slide .name {
    font-size: 16px;
  }
  .slider .slide .desk {
    display: block !important;
    font-size: 10px;
  }
  .slider .slide img {
    -webkit-transform: scale(1.01) !important;
            transform: scale(1.01) !important;
    height: 275px;
  }
  section:first-child {
    margin-top: 25px;
  }
  footer {
    margin-top: 20px;
  }
  .footer_inner p {
    font-size: 16px;
  }
  .footer_inner a {
    font-size: 12px;
  }
  .card_info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card_info a {
    font-size: 10px;
    margin-top: 2px;
    line-height: 1;
  }
  .card_info h4 {
    line-height: 1;
    margin-top: 0;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    color: #000;
  }
  .card_info h4 span {
    margin-top: 10px;
    margin-left: 0;
    text-align: left;
    font-size: 12px;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: #000;
  }
  .video-js {
    height: 225px;
  }
  .video-js .vjs-big-play-button {
    width: 90px !important;
    height: 90px !important;
  }
  .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    font-size: 45px !important;
  }
  .card_color_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .info h3 {
    font-size: 20px;
  }
  .card .info p {
    margin-top: 25px;
    font-size: 12px;
  }
}
